<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<div>
    <table border="1">
        <thead>
        <tr>
            <th colspan="5">List of users</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.name}">...</td>
            <td th:utext="${user.username}">...</td>
            <td th:utext="${user.email}">...</td>
            <td th:utext="${user.rolesToString()}">...</td>
            <td>
                <form th:method="delete" th:action="@{/admin/{id}(id=${user.id})}">
                    <input type="submit" value="DELETE">
                </form>

                <form th:method="get" th:action="@{/admin/edit/{id}(id=${user.id})}">
                    <input type="submit" value="UPDATE">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/admin/new}" method="get">
        <input type="submit" value="Add">
    </form>
</div>
<br/>
<hr/>
<a href="/logout">Logout</a>
</body>
</html>



